{% extends  'dashboard.html.twig' %}
{% block body %}

<!-- new Customers -->
               <div class="recentCustomer">
                  <div class="cardHeader">
                     <h2>Customers FeedBack</h2>
                     <a href="#" class="btn">View All</a>
                  </div>
                  <table>
                     <tr>
                        <td><div class="imgBox"><img src="{{asset('assets/image/img1.jpg')}}" alt="customer image"></div></td>
                        <td><h4>Majid <br><span>Iran</span></h4></td>
                        <td><h4> helpful thank you! </h4></td>
                     </tr>
                     <tr>
                        <td><div class="imgBox"><img src="{{asset('assets/image/img2.jpg')}}" alt="customer image"></div></td>
                        <td><h4>David <br><span>Italy</span></h4></td>
                        <td><h4> helpful thank you! </h4></td>
                     </tr>
                     <tr>
                        <td><div class="imgBox"><img src="{{asset('assets/image/img3.jpg')}}" alt="customer image"></div></td>
                        <td><h4>Zahra <br><span>USA</span></h4></td>
                        <td><h4> helpful thank you! </h4></td>
                     </tr>
                     <tr>
                        <td><div class="imgBox"><img src="{{asset('assets/image/img4.jpg')}}" alt="customer image"></div></td>
                        <td><h4>Shabnam <br><span>Malaziya</span></h4></td>
                        <td><h4> helpful thank you! </h4></td>
                     </tr>
                     <tr>
                        <td><div class="imgBox"><img src="{{asset('assets/image/img5.jpg')}}" alt="customer image"></div></td>
                        <td><h4>Mohhamad<br><span>India</span></h4></td>
                        <td><h4> helpful thank you! </h4></td>
                     </tr>
                     <tr>
                        <td><div class="imgBox"><img src="{{asset('assets/image/img6.jpg')}}" alt="customer image"></div></td>
                        <td><h4>Sajjad <br><span>Japan</span></h4></td>
                        <td><h4> helpful thank you! </h4></td>
                     </tr>
                     <tr>
                        <td><div class="imgBox"><img src="{{asset('assets/image/img7.jpg')}}" alt=""></div></td>
                        <td><h4>Katayon<br><span>Azerbayjan</span></h4></td>
                        <td><h4> helpful thank you! </h4></td>
                     </tr>
                     <tr>
                        <td><div class="imgBox"><img src="{{asset('assets/image/img8.jpg')}}" alt="customer image"></div></td>
                        <td><h4>Amir<br><span>Turkey</span></h4></td>
                        <td><h4>  helpful thank you! </h4></td>
                     </tr>
                     <tr>
                        <td><div class="imgBox"><img src="{{asset('assets/image/img9.jpg')}}" alt="customer image"></div></td>
                        <td><h4>soon<br><span>China</span></h4></td>
                        <td><h4> helpful thank you! </h4></td>
                     </tr>
                  </table>
               </div>               
            </div>
        </div>
    </div>
{% endblock %}